.footer {
  &__container {
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
  }
}

@media (max-width: 600px) {
  .footer__container {
    flex-direction: column-reverse;
    gap: 8px;
    width: 100%;

    & > div {
      width: 100%;
    }
  }

  .player__container {
    bottom: 0;
    height: 50px;
    margin: auto;
    position: absolute;
    right: 22px;
    top: 0;
    width: 50px !important;
  }

  .next-prev__button {
    padding: 5px 25px !important;
  }
}

.surah-picker {
  &__select {
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    min-width: 55px;
    padding: 5px 0px;
    text-align: center;

    &:first-child {
      margin-right: 5px;
    }
  }
}

.next-prev {
  &__container {
    display: flex;
    gap: 5px;
  }

  &__button {
    align-items: center;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    padding: 5px 14px;
    transition: all 0.1s linear;
    user-select: none;

    &:hover {
      background-color: #eee;
    }
  }
}
