.player {
  &__container {
    height: 40px;
    width: 40px;
  }

  &__control {
    align-items: center;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    outline: none;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    width: 100%;

    &:hover {
      background-color: #eee;
    }

    &-img {
      border-radius: 50%;
      height: 90%;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__spinner {
    animation: spin 0.5s linear infinite;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #333;
    display: block;
    height: 100%;
    width: 100%;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
