html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
.app {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

img {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: rgb(0, 89, 255);
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 800px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
