@font-face {
  font-family: "UthmanicHafs";
  src: url("./assets/fonts/UthmanicHafs1Ver18.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansBengali";
  src: url("./assets/fonts/NotoSansBengali-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
