.settings {
  &__container {
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
  }

  &__card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px #0000001c;
    height: 90vh;
    margin: 0 auto;
    max-width: 550px;
    width: 90%;
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    font-size: 17px;
    font-weight: bold;
    height: 45px;
    justify-content: space-between;
    padding: 0px 10px;

    &--icon {
      cursor: pointer;
      padding: 6px;
      width: 30px;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__content {
    height: calc(100% - 45px);
    overflow: auto;
    padding: 10px;
    width: 100%;
  }

  &__item {
    margin-bottom: 10px;
    text-align: center;

    &-checkbox {
      &--title {
        display: inline-block;
        min-width: 120px;
        vertical-align: text-bottom;
      }
    }
    input[type='checkbox'] {
      margin-right: 10px;
    }
    select {
      margin-left: 15px;
      min-width: 150px;
      text-align: center;
    }
  }

  &__credits {
    border-top: 1px solid #ccc;
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;

    b {
      border-bottom: 1px solid #ccc;
      display: inline-block;
      margin-bottom: 15px;
      padding: 0px 20px;
      padding-bottom: 5px;
    }

    p {
      margin: 8px;
    }
  }
}
